In [1]:
# import packages and methods that will be used in this notebook

import healpy
import numpy as np
import GCRCatalogs
from astropy.coordinates import SkyCoord
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
import GCRCatalogs

# Step 1: Change the root_dir
# This can be done by setting the 'root_dir' in the configuration dictionary
# Replace '/your/new/root/dir' with the path to your new root directory
GCRCatalogs.set_root_dir('/nfs/turbo/lsa-regier/')
GCRCatalogs.get_root_dir()

'/nfs/turbo/lsa-regier/'

In [3]:
GCRCatalogs.get_public_catalog_names()

['desc_cosmodc2',
 'desc_dc2_run2.2i_dr6_object',
 'desc_dc2_run2.2i_dr6_object_with_truth_match',
 'desc_dc2_run2.2i_dr6_truth',
 'desc_dc2_run2.2i_truth_galaxy_summary',
 'desc_dc2_run2.2i_truth_sn_summary',
 'desc_dc2_run2.2i_truth_sn_variability',
 'desc_dc2_run2.2i_truth_star_summary',
 'desc_dc2_run2.2i_truth_star_variability']

In [4]:
truth_cat = GCRCatalogs.load_catalog('desc_dc2_run2.2i_dr6_truth')
truth_cat.list_all_quantities()

['cosmodc2_id',
 'truth_type',
 'mag_i',
 'flux_r',
 'ra',
 'match_sep',
 'mag_u',
 'flux_i',
 'is_nearest_neighbor',
 'rv',
 'flux_g',
 'mag_r',
 'match_objectId',
 'mag_y',
 'id_string',
 'host_galaxy',
 'flux_y',
 'flux_u',
 'id',
 'redshift',
 'av',
 'patch',
 'is_good_match',
 'dec',
 'mag_g',
 'is_unique_truth_entry',
 'cosmodc2_hp',
 'flux_z',
 'tract',
 'mag_z']

In [ ]:
data = truth_cat.get_quantities([
    "id", "flux_u", "flux_g","flux_r","flux_i","flux_z","redshift"],filters=['truth_type == 2'])

In [38]:
import pandas as pd
df = pd.DataFrame(data)

In [36]:
df.describe()

,flux_u,id,flux_r,redshift,flux_i,flux_g,flux_z
count,4.136988e+06,4.136988e+06,4.136988e+06,4136988.0,4.136988e+06,4.136988e+06,4.136988e+06
mean,1.981941e+05,2.896313e+10,1.014710e+06,0.0,1.234137e+06,6.330818e+05,1.340739e+06
std,6.318576e+06,1.319421e+10,4.225930e+07,0.0,5.318253e+07,2.389670e+07,5.847104e+07
min,2.066179e-01,2.773620e+05,1.773591e+01,0.0,1.659430e+01,2.402487e+00,1.291049e+01
25%,4.552544e+00,3.110209e+10,1.086661e+02,0.0,2.697470e+02,3.771347e+01,4.050174e+02
50%,4.042743e+01,3.141176e+10,7.227829e+02,0.0,1.536447e+03,2.833616e+02,2.172738e+03
75%,9.068907e+02,4.074184e+10,8.229410e+03,0.0,1.465283e+04,4.077584e+03,1.949700e+04
max,2.632770e+09,4.102101e+10,2.414255e+10,0.0,3.168961e+10,1.215555e+10,3.546458e+10

In [26]:
# Your desired order of columns
desired_order = ["id", "flux_u", "flux_g","flux_r","flux_i","flux_z","redshift"]

# Reordering the columns according to the desired order
df_reordered = df[desired_order]

In [29]:
df_filtered = df_reordered[df_reordered['redshift'] != 0]

In [32]:
df_filtered

Empty DataFrame
Columns: [id, flux_u, flux_g, flux_r, flux_i, flux_z, redshift]
Index: []

In [30]:
df_10000=df_filtered[:10000]

In [31]:
df_10000.to_csv('/home/../data/scratch/truth_data_10000.csv', index=False)

Or We can use pandas

In [16]:
import pandas as pd
# truth_catalog = GCRCatalogs.load_catalog('/home/../data/scratch/truth_tract2723.parquet')
# default way not working
df = pd.read_parquet('/home/../data/scratch/truth_tract2723.parquet')
df.head()

,id,id_string,host_galaxy,truth_type,ra,dec,redshift,flux_u,flux_g,flux_r,...,tract,patch,cosmodc2_hp,cosmodc2_id,mag_r,match_objectId,match_sep,is_good_match,is_nearest_neighbor,is_unique_truth_entry
0,10940305839,10940305839,-1,1,50.937950,-44.629795,1.050468,5678.708984,5577.517578,6334.502441,...,2723,"0,6",10321,10940305839,21.895718,11975906419540343,0.118004,False,True,True
1,10937870093,10937870093,-1,1,50.918450,-44.628441,0.474819,146.518021,1341.131714,5984.994629,...,2723,"0,6",10321,10937870093,21.957340,11975906419541206,0.059833,False,True,True
2,11563663598,11563663598,-1,1,50.622709,-44.633968,0.759036,134.074341,272.126617,766.903015,...,2723,"1,6",10444,11563663598,24.188148,11976043858493441,0.205348,False,True,True
3,10938869183,10938869183,-1,1,50.622897,-44.629667,0.808502,932.008118,1224.280762,2598.827148,...,2723,"1,6",10321,10938869183,22.863056,11976043858493443,0.154115,False,True,True
4,11564005688,11564005688,-1,1,50.442544,-44.639395,0.849298,35.554699,104.535225,462.301849,...,2723,"1,6",10444,11564005688,24.737686,11976043858493737,0.173813,True,True,True

In [17]:
df.columns

Index(['id', 'id_string', 'host_galaxy', 'truth_type', 'ra', 'dec', 'redshift',
       'flux_u', 'flux_g', 'flux_r', 'flux_i', 'flux_z', 'flux_y', 'av', 'rv',
       'tract', 'patch', 'cosmodc2_hp', 'cosmodc2_id', 'mag_r',
       'match_objectId', 'match_sep', 'is_good_match', 'is_nearest_neighbor',
       'is_unique_truth_entry'],
      dtype='object')

In [20]:
df['truth_type'].unique()

array([1, 2, 3], dtype=int32)